<div class="card" [class.border-primary]="isSelected()">
    <div class="card-body">
        <h5 class="card-title"><ng-container i18n>Block</ng-container><small class="text-muted" *ngIf="block.previousHash == 0"><ng-container i18n>(Genesis block)</ng-container></small></h5>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span i18n>Hash</span>
            <br>
            <div class="text-truncate" [style.color]="'#' + block.hash.substring(0,6)">
                <small>{{ block.hash }}</small>
            </div>
            <br>
            <span i18n>Hash of previous block</span>
            <br>
            <div class="text-truncate" [style.color]="block.previousHash == 0 ? null : '#' + block.previousHash.substring(0,6)">
                <small>{{ block.previousHash }}</small>
            </div>
        </li>
        <li class="list-group-item">
            <span i18n>Nonce</span>
            <br>
            <div class="text-truncate text-muted">
                <small>{{ block.nonce }}</small>
            </div>
        </li>
        <li class="list-group-item">
            <span i18n>Timestamp</span>
            <div class="text-truncate text-muted">
                <span>{{ block.timestamp }}</span>
                <br>
                <small>{{ block.timestamp |date:'MMM d, y, HH:mm' }}</small>
            </div>
        </li>
    </ul>
</div>