<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" i18n="SiteTitle|This is the site title.@@SiteTitle">
      StevenCoin
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/new/transaction" class="nav-link" i18n="@@CreateTransaction">Create transaction</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/new/transaction/pending" class="nav-link" i18n="@@PendingTransactions">Pending transactions</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/settings" class="nav-link" i18n="@@Settings">Settings</a>
        </li>
        <li class="nav-item dropdown">
          <ng-template ngFor let-lang [ngForOf]="languages">
            <a *ngIf="lang.code === localeId" class="nav-link dropdown-toggle" href="/{{lang.code}}/" id="dropdown-i18n" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="flag-icon flag-icon-{{lang.country}}"></span> {{lang.label}}
            </a>
          </ng-template>
          <div class="dropdown-menu bg-dark" aria-labelledby="dropdown-i18n">
            <ng-template ngFor let-lang [ngForOf]="languages">
              <a *ngIf="lang.code != localeId" class="nav-link dropdown-item" href="/{{lang.code}}/">
                <span class="flag-icon flag-icon-{{lang.country}}"></span> {{lang.label}}
              </a>
            </ng-template>
          </div>
        </li>
      </ul>
    </div>
  </div> 
</nav>
<router-outlet></router-outlet>