<nav class="navbar narbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" i18n="SiteTitle|This is the site title.@@SiteTitle">
    StevenCoin
  </a>
  <ng-template ngFor let-lang [ngForOf]="languages">
    <span *ngIf="lang.code !== localeId"><a href="/{{lang.code}}/">{{lang.label}}</a></span>
    <span *ngIf="lang.code === localeId">{{lang.label}}</span>
  </ng-template>
  <div>
    <button class="btn btn-outline-light"  routerLink="/settings" i18n="@@Settings">Settings</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction" i18n="@@CreateTransaction">Create transaction</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction/pending" i18n="@@PendingTransactions">Pending transactions</button>
  </div>
</nav>
<router-outlet></router-outlet>